#mission{
/*background:url("chaouen.jpg") ; 
background-repeat:no-repeat;
background-size:cover;
background-position:center;     /*pour si on réduit la fenetre le background reste ou centre*/
position:absolute;
bottom:0px;
top:0px;
right:0px;
left:0px;
height:100%;
background: #ddcec7;
overflow: scroll;

}
#miss{
  font-family:'Roboto Mono', monospace;

}
#missionImage{
  background-size:cover;
  height:200px;
  width:auto;
}
#something{
  position:absolute;
  left:90px;
  top:30px;
  color:black;
  font-family:'Roboto Mono', monospace;
}
#box{
    
    overflow-y: scroll;
  }
  #box::-webkit-scrollbar{
    width:5px;
    height:105px;
    opacity:0.5;
  }
  #box::-webkit-scrollbar-track{
    background:white;
    height:20px;
  }
  #box::-webkit-scrollbar-thumb{
      background:#D1653E;
      width:10px;
      height:8px;
      border-radius:62px;
  }
  #box::-webkit-scrollbar-thumb:hover{
    background:#eb9474;
  }
 #head{
     display:flex;
     flex-direction: row;
 }
 #postulemission{
   background:white;
   position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top:0;
    left:0;
 }
 #postulebox{
   overflow-y:scroll;

 }