#connecter:hover{
 transform :scale(1.15);
}
#connecter{
    transform :scale(1);
}
#inscrire:hover{
    transform :scale(1.15);
   }
   #inscrire{
       transform :scale(1);
   }
#Search:focus{
    width:30%
}
#Search{
    border-radius: 100px;
    width:2%
}